#container {
    margin: auto;
    height: 500px;
    width: 500px;
    margin-top: 50px;
    border: black 1px solid;
    background-color: rgb(237, 237, 243);
}

#button {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 250px;
    height: 50px;
}
#button2 {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 250px;
    height: 50px;
}